.key {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 14px Verdana;
  background-color: #f24333ff;
  color: white;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s;

  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: black;
    background-color: lighten($color: #f24333ff, $amount: 15%);
  }

  &:active {
    background-color: #96170b;
    border-radius: 20px;
  }

  &_active {
    background-color: #96170b;
    border-radius: 20px;
  }
}
.Tab, .CapsLock, .ShiftLeft, .ControlLeft, .MetaLeft, .AltLeft, .Backspace, .Delete, .Enter, .ShiftRight, .ControlRight, .AltRight, .ArrowLeft, .ArrowRight, .ArrowUp, .ArrowDown {
  background-color: #2a8f9c;
  &:hover {
    background-color: lighten($color: #3dbaca, $amount: 15%);
  }
  &:active {
    background-color: darken($color: #2a8f9c, $amount: 10%);
    border-radius: 20px;
  }
  &.key_active {
    background-color: darken($color: #2a8f9c, $amount: 10%);
    border-radius: 20px;
  }
}

.hidden, span.hidden {
  display: none;
}

.capslock-on {
  background-color: darken($color: #2a8f9c, $amount: 20%);
  border-radius: 10px;
}

.Backspace {
  width: 90px;
}

.Tab {
  width: 50px;
}

.CapsLock, .Enter, .ShiftLeft {
  width: 90px;
}

.ControlLeft, .ControlRight {
  width: 60px;
}

.Space {
  flex-grow: 1;
}
