.textarea {
    display: block;
    box-sizing: border-box;
    resize: none;
    width: 720px;
    height: 250px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 25px;
}
